.container .logo{
    height:50px;
}
.container{
    overflow: hidden;
    padding: 10px;
}
.display{
    height:500px;
    width: 500px;
    border-radius: 100%;
    float: right;
    margin-left: 2000px;
    margin-right: -100px;
}
.container{
    width:30vw;
    border:2px solid black;
    margin-top: 20px;
    color:grey;
}
h1{
    /* border-bottom: 3px dotted grey; */
    text-decoration: underline dotted grey 2px;
    text-underline-offset:6px;
    color:orange;
}
.para{
    width:55%;
}