<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agile</title>
</head>

<body>
    <div class="container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2Blb9EZ_e29S3lCq1SiKfbOdTaMWZauL07C3cy3t1&s"
            alt="kore" class="logo"><br>
        <img src="https://media.istockphoto.com/photos/two-asian-engineering-using-the-tablet-for-discussion-and-working-at-picture-id1299533553?b=1&k=20&m=1299533553&s=170667a&w=0&h=f0dG-Bo9E_s2jeEpDoacy6mne_Zt8skZV4of1csCLf0="
            alt="truck" class="display"><br>
        <h1>Innovative</h1>
        <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit perspiciatis dignissimos nam
            nesciunt et a ut
            natus velit, sint.</p>
        <button class="btn btn-primary" (click)="click()">Click</button>
    </div>
</body>

</html>
